annoy
cython
dataclasses-json
elasticsearch
fasttext
gitpython
gensim
jupyter
lxml
nltk
numpy
pandas
PuLP
pyldavis
pyyaml
pybind11
matplotlib
requests
scipy
spherecluster
tqdm
https://github.com/tarohi24/typedflow/archive/develop.zip
