annoy
cython
dataclasses-json
elasticsearch
fasttext
gitpython
git+https://github.com/RaRe-Technologies/gensim@develop
jupyter
lxml
nltk
numpy
pandas
PuLP
pyldavis
pyyaml
pybind11
matplotlib
requests
scipy
sklearn
seaborn
tqdm
https://github.com/tarohi24/typedflow/archive/develop.zip
